// colors

$color-orange: hsl(35, 77%, 62%);
$color-red: hsl(5, 85%, 63%);
$color-off-white: hsl(36, 100%, 99%);
$color-grayish-blue: hsl(233, 8%, 79%);
$color-dark-grayish-blue: hsl(236, 13%, 42%);
$color-very-dark-blue: hsl(240, 100%, 5%);

// Margin and Padding
$space-xsmall: 0.25rem;
$space-small: 1rem;
$space-medium: 3rem;
$space-large: 5rem;

// transition
$fade: 0.15s;

// // Media Breaks
$mobile-break: 375px;
